In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('soapshipment.csv')
df

In [3]:
df.shape

(46044, 14)

In [4]:
for i in df.columns:
    print(i)

Depot Transaction
Warehouse
Ship to Branch
Billing doc. date
Customer
RS
Material
Product
MRP per unit
Gross Weight in Tons
Net Wgt in Tons
Billing Quantity - EA
Qty In Cases
Total Invoice value

In [5]:
df.dtypes

Depot Transaction         object
Warehouse                 object
Ship to Branch            object
Billing doc. date         object
Customer                  object
RS                        object
Material                  object
Product                   object
MRP per unit             float64
Gross Weight in Tons     float64
Net Wgt in Tons          float64
Billing Quantity - EA     object
Qty In Cases               int64
Total Invoice value       object
dtype: object

In [6]:
df.isnull().sum()

Depot Transaction        0
Warehouse                0
Ship to Branch           0
Billing doc. date        0
Customer                 0
RS                       0
Material                 0
Product                  0
MRP per unit             0
Gross Weight in Tons     0
Net Wgt in Tons          0
Billing Quantity - EA    0
Qty In Cases             0
Total Invoice value      0
dtype: int64

In [8]:
df.nunique()

Depot Transaction           1
Warehouse                   1
Ship to Branch              1
Billing doc. date         369
Customer                  257
RS                        257
Material                   10
Product                     9
MRP per unit              176
Gross Weight in Tons      331
Net Wgt in Tons           292
Billing Quantity - EA     227
Qty In Cases              131
Total Invoice value      2117
dtype: int64

In [11]:
df.describe()

       MRP per unit  Gross Weight in Tons  Net Wgt in Tons  Qty In Cases
count  46044.000000          46044.000000     46044.000000  46044.000000
mean      33.465002              0.083060         0.078231      5.695596
std       21.413710              0.126794         0.120239      8.650918
min      -58.000000             -0.090000         0.000000      0.000000
25%       10.000000              0.017000         0.016000      1.000000
50%       34.000000              0.050000         0.047000      3.000000
75%       58.000000              0.097000         0.087000      7.000000
max      462.000000              4.654000         4.450000    309.000000